.todo{
    width: 600px;
    min-height: 732px;
    border-radius: 20px;
    background: rgb(238, 233, 233);
    margin: auto;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    padding: 0px 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
}
.todo-header{
    margin-top:84px ;
    color: blue;
    font: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 36px;
    font-weight: 600px;
    line-height: 34px;
}
.todo-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.todo-input{
    border-radius: 50px;
    background-color: rgb(242, 239, 233);
    border: none;
    outline: none;
    width: 576px;
    height: 80px;
    padding-left: 35px;
    font-size: 20px;
}
.todo-add-btn{
    border-radius: 50px;
    background: rgb(55, 151, 229);
    width: 187px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
    color: antiquewhite;
    font-size: 26px;
    font-weight: 600px;
    cursor: pointer;
}